<!-- Launch a lane detection node. -->
<launch>
    <arg name="identifier" default="" />
    <arg name="homography_file" default="" />
    <arg name="configuration_file" default="" />
    <arg name="source_image_topic" default="" />
    <arg name="fake_scan_frame_id" default="" />
    <arg name="fake_scan_topic" default="" />

    <node pkg="lane_detection" type="lane_detector" name="$(arg identifier)" output="screen">
        <param name="homography_file" value="$(arg homography_file)"/>
        <param name="configuration_file" value="$(arg configuration_file)"/>
        <param name="source_image_topic" value="$(arg source_image_topic)"/>
        <param name="fake_scan_frame_id" value="$(arg fake_scan_frame_id)"/>
        <param name="fake_scan_topic" value="$(arg fake_scan_topic)"/>
    </node>
</launch>
