<!-- Parent launch file launching all localization nodes for IGVC -->
<launch>
    <!-- Navsat transform incorporates GPS into robot world frame odometry estimate and publishes transform between utm and map frames -->
    <!-- <include file="$(find igvc_localization)/launch/includes/igvc_navsat_transform.launch.xml"/> -->
    <!-- Integrates continuous data (wheel odometry and IMU) to produce odometry estimate -->
    <include file="$(find igvc_localization)/launch/includes/igvc_localization_continuous.launch.xml"/>
    <!-- Integrates GPS with output of continous estimate to produce odometry estimate -->
    <!-- <include file="$(find igvc_localization)/launch/includes/igvc_localization_discrete.launch.xml"/> -->
</launch>