<!--
DESCRITPION
-->


<launch>
        <node pkg="ira_laser_tools" name="laserscan_multi_merger" type="laserscan_multi_merger" output="screen">
		<param name="destination_frame" value="/base_link"/>
		<param name="cloud_destination_topic" value="/merged_cloud"/>
		<param name="scan_destination_topic" value="/scan_multi"/>
        <param name="laserscan_topics" value="/base_scan /front_lane_detector/front_fake_scan /left_lane_detector/left_fake_scan /right_lane_detector/right_fake_scan" /> <!-- LIST OF THE LASER SCAN TOPICS TO SUBSCRIBE -->
	</node>
</launch>
