<launch>
	<master auto="start"/>

	<!-- Run gmapping -->
	<node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
	    <param name="base_frame" value="base_footprint"/>
	    <param name="odom_frame" value="odom"/>
  	</node>

	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
	
	</node>

</launch>