<launch>
   <arg name="scan_topic" default="scan"/>
   <arg name="port" default="/dev/ttyACM0" />
   <arg name="frame_id" default="laser" />
   
   <node name="hokuyo" pkg="hokuyo_node" type="hokuyo_node" respawn="false" output="screen">
	   <param name="calibrate_time" type="bool" value="true"/> 
	   <param name="port" type="string" value="$(arg port)"/> 
	   <param name="intensity" type="bool" value="false"/>
	   <param name="min_ang" value="-1.5707963268"/>   
	   <param name="max_ang" value="1.5707963268"/>    
	   <param name="cluster" value="1"/>
       <param name="frame_id" value="$(arg frame_id)"/>

	   <remap from="scan" to="$(arg scan_topic)" />
   </node>
</launch>	